
#contato {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 45px;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  border-radius: 20px;
  margin-bottom: 50px;
}

section h2 {
  color: f5f5f5;
  font-size: 2.5rem;

  margin: 2rem;
}
section form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
form label {
  color: #f5f5f5;
  font-size: 17px;
  margin: 4px;
}
form input {
  padding: 15px;
  outline: none;
  border: 0;
  margin-bottom: 20px;
  font-size: 15px;
  transition: all 0.5s;
}
form input:focus {
  border-radius: 16px;
}
form textarea {
  padding: 10px;
  outline: none;
  border: 0;
  font-size: 15px;
  margin-bottom: 30px;
  transition: all 0.5s;
}
form textarea:focus {
  border-radius: 16px;
}
form button {
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
  background: transparent;
  border: 2px solid #f5f5f5;
  color: #f5f5f5;
  transition: all 1s;
  margin-bottom: 20px;
}
form button:hover {
  background: #f5f5f5;
  color: #101026;
  border-radius: 16px;
}
