
.end{
  padding:20px 20%;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content: space-between;
  gap: 2rem;
  background-color: rgb(24, 24, 24);

}
.last-text{
  font-size: 14px;
}
.top i{
  padding: 10px;
  border-radius: 8px;
  font-size: 15px;
  color: #fff;
  background-color: var(--terciary);
}

