
@import "./header/header.css";
@import "./home/home.css";
@import "./sobre/sobre.css";
@import "./conhecimentos/conhecimentos.css";
@import "./projetos/projetos.css";
@import "./contato/contato.css";
@import "./footer/footer.css";
@import "./global/global.css";
@import "./pagina-obg/obg.css";
@import "./responsivo/responsivo.css";


/* Home */
#foto {
  width: 300px;
  height: 400px;
}

#banner {
  width: 100vw;
  height: calc(100vh - 140px);
  background-image: url(../images/banner.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 30px;
}

.banner-esquerda {
  flex: 1;
}

.banner-esquerda h1 {
  font-size: 7.5rem;
  margin: 10px 0px;
  font-weight: 900;
}

.banner-esquerda h2 {
  color: var(--terciary);
  text-transform: uppercase;
  margin: 20px 0;
  font-size: 3rem;
}

.banner-esquerda p {
  font-size: 2.5rem;
  max-width: 550px;
  line-height: 30px;
  font-weight: 600;
}

.banner-esquerda span {
  font-size: 3.5rem;
  animation: 3s ease-in 1s infinite reverse both running bye;
  display: inline-block;
}

.buttom {
  padding: 15px 30px;
  border-radius: 10px;
  display: inline-block;
  background: var(--primary);
  align-items: center;
  margin-top: 30px;
  text-decoration: none;
  color: var(--second);
  font-size: 2rem;
  font-weight: 500;
  transition: all 0.5s ease-in-out 0s;
}

.buttom:hover {
  transform: scale(110%);
}

.icone-rolagem {
  display: flex;
  margin-top: -70px;
  justify-content: center;
}

@keyframes bye {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(0deg);
  }
}











