:root {
    --bg-primary: #151515;
    --bg-second: rgba(24, 24, 24,70);
    --primary: linear-gradient(#c244d3, #f432aa);
    --second: #fff;
    --terciary: #e432f4;
    --html-color: #FF6D00;
    --css-color: #039BE5;
    --js-color: #FFD600;
    --react-color: #40C4FF;
    --typescript-color: #007ACC;
    
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    overflow-x: hidden;
    background-color: var(--bg-primary);
    color: var(--second);
    overflow-x: hidden;
}

header {
    width: 100vw;
    min-height: 100px;
    padding-top: 40px;
    padding-left: 30px;
}

.container {
    max-width: 1600px;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li a{
    margin-right: 50px;
    text-decoration: none;
    color: var(--second);
    font-size: 1.8rem;
    font-weight: 500;
    transition: color 0.2s ease-in-out 0s;
    padding: 10px
}

.menu ul li a:hover {
    color: var(--terciary);
    transition:1s;
}

.menu-buttom {
    align-items: center;
    background: var(--primary);
    padding: 10px 30px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out 0s;
}

.menu ul li a.menu-buttom:hover {
    color: var(--bg-primary);
}


.menu i {
    font-size: 3.5rem;
    transition: color 0.2s ease-in-out 0s;
}

.menu i:hover {
    font-size: 3.5rem;
    color: var(--terciary);
}

.menu_mobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.mm_line {
    height: 3px;
    background-color: var(--terciary);
}



/* Section Banner */

#foto{
    width: 300px;
    height: 400px;
}



#banner {
    width: 100vw;
    height: calc(100vh - 140px);
}

.banner {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 30px;
}


.banner-esquerda {
    flex: 1;
}

.banner-esquerda h1{
    font-size: 7.5rem;
    margin: 10px 0px;
    font-weight: 900;
}

.banner-esquerda h2 {
    color: var(--terciary);
    text-transform: uppercase;
    margin: 20px 0;
}

.banner-esquerda p{
    font-size: 2rem;
    max-width: 550px;
    line-height: 30px;
}

.banner-esquerda span {
    font-size: 3.5rem;
    animation: 3s ease-in 1s infinite reverse both running bye;
    display: inline-block;
}

.buttom{
    padding: 15px 30px;
    border-radius: 10px;
    display: inline-block;
    background: var(--primary);
    align-items: center;
    margin-top: 30px;
    text-decoration: none;
    color: var(--second);
    font-size: 2rem;
    font-weight: 500;
    transition: all 0.5s ease-in-out 0s;
}

.buttom:hover {
    transform: scale(110%);
}

.banner-direita {
    flex: 1;
    display: flex;
    justify-content: end;
}

.icone-rolagem {
    display: flex;
    margin-top: -70px;
    justify-content: center;
}


@keyframes bye {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(40deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(40deg);}
    100% {transform: rotate(0deg);}
}




/* Section Sobre mim */


#sobre-mim {
    width: 100vw;
    background: var(--bg-second);
    padding: 200px 10px;
}

.sobre-mim {
    display: flex;
    flex: 1;
}

.sobre-mim-esquerda {
    display: flex;
    justify-content: center;
    flex: 1;
}

.sobre-mim-esquerda img{
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    border-radius: 30px;
}

.sobre-mim-direita {
    flex: 1;
}

.titulo p:first-child{
    font-size: 2rem;
    color: var(--terciary);
}

.titulo p:first-child:after{
    content: "";
    display: inline-block;
    width: 40px;
    height: 5px;
    background: var(--terciary);
    margin: 4px 10px;
}

.sobre-mim-direita p{
    font-size: 2rem;
    max-width: 500px;
    line-height: 30px;
}

.titulo h1{
    font-size: 4.5rem;
    margin: 20px 0px;
}

.sobre-mim-direita a{
    display: inline-block;
    text-decoration: none;
    color: var(--second);
    margin-top: 30px;
    font-size: 2rem;
}
/*Conhecimentos*/

#conhecimentos {
    display: flex;
    justify-content: center;
    padding: 200px 10px;
}

.conhecimentos .titulo {
    text-align: center;
}

.conhecimentos-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.conhecimentos .card{
    width: 380px;
    margin: 20px;
    background-color: var(--bg-second);
    border-radius: 10px;
    transition: all 0.2s ease-in-out 0s;
}

.conhecimentos .card:after {
    content: ".";
    position: relative;
    display: inline-block;
    background-color: var(--html-color);
    color: var(--html-color);
    border-radius: 0px 0px 5px 5px;
    width: 100%;
}

.conhecimentos .card:nth-child(2)::after {
    background-color: var(--css-color);
}

.conhecimentos .card:nth-child(3)::after {
    background-color: var(--js-color);
}

.conhecimentos .card:nth-child(4)::after {
    background-color: var(--typescript-color);
}

.conhecimentos .card:nth-child(5)::after {
    background-color: var(--react-color);
}

.conhecimentos .card:hover{
    transform: scale(1.1);
}

.card-area {
    height: 100%;
    padding: 30px;
}

.conhecimentos .card h2{
    margin: 30px 0px;
    font-size: 2.4rem;
}

.conhecimentos .card p{
    font-size: 1.8rem;
    line-height: 25px;
}

.conhecimentos .card.desativado{
    width: 380px;
    margin: 20px;
    background-color: var(--bg-primary);
}
.conhecimentos .card.desativado:after {
    content: ".";
    position: relative;
    display: inline-block;
    background-color: var(--bg-primary);
    color: var(--bg-primary);
    border-radius: 0px 0px 5px 5px;
    width: 100%;
}

/* Section Projetos */


#projetos {
    display: flex;
    justify-content: center;
}

#projetos .titulo {
    text-align: center;
}

#projetos .container {
    padding: 0px 200px;
}


.projetos {
    margin: 30px;
}

.projetos-cards {
    display: flex;
    flex-direction: column;
}

.projetos-card {
    flex: 1;
    background-color: var(--bg-second);
    margin-top: 100px;
}

.projetos-card img{
   width: 100%;
   border-radius: 20px 20px 0px 0px;
}

.projeto-card-desc {
    display: flex;
    width: 100%;
    flex: 1;
    padding: 30px;
}

.projeto-card-desc-direita {
    flex: 1;
}

.projeto-card-desc-direita p{
    font-size: 1.9rem;
}

.projeto-card-desc-direita-icons {
    font-size: 2.5rem;
    text-align: end;
    padding-top: 2rem;
}

.projeto-card-desc-direita-icons a{
    margin-right: 2rem;
    cursor: pointer;
    color: var(--second);
}

.projeto-card-desc-direita-icons a:hover{
    color: var(--terciary);
}

.projeto-card-desc-esquerda {
    flex: 1;
}

.projeto-card-desc-esquerda h2{
    font-size: 3rem;
}

.projeto-card-desc-categorias {
    display: flex;
    flex-wrap: wrap;
}

.projeto-card-desc-categoria {
    padding: 5px 15px;
    border: 2px solid var(--second);
    border-radius: 10px;
    text-align: center;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 1.5rem;
}

.projeto-card-desc-categoria.html {
    border: 2px solid var(--html-color);    
    background-color: rgba(255, 111, 0, 0.25);
}

.projeto-card-desc-categoria.css {
    border: 2px solid var(--css-color);    
    background-color: rgba(3, 155, 229,0.25);
}

.projeto-card-desc-categoria.javascript {
    border: 2px solid var(--js-color);    
    background-color: rgba(255, 214, 0,0.25);
}


.projeto-card-desc-categoria.react {
    border: 2px solid var(--react-color);    
    background-color: rgba(44, 151, 198, 0.455);
}

.projeto-card-desc-categoria.typescript {
    border: 2px solid var(--typescript-color);    
    background-color: rgba(3, 155, 229,0.25);
}

@media (max-width: 1440px) { 

    html {
        font-size: 8.5px;
    }

    .container {
        padding: 0px 100px;
    }

   
}

@media (max-width: 1112px) {
    html {
        font-size: 8px;
    }

    .banner-direita img {
        width: 90%;
    }

    .banner-direita {
        width: 90%;
        justify-content: end;
    }

   

    .menu nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: var(--bg-primary);
        margin-bottom: 20px;
        height: auto;
    }

    .menu ul li {
        display: flex;
        padding: 10px;
        text-transform: uppercase;
        margin-left: 20px;
    }


    header {
        height: auto;
    }

    header .container {
        flex-direction: row;
    }

    .menu_mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }



    .menu nav ul li a{
        font-size: 2rem;
    }

    .menu ul li:hover {
        background-color: var(--terciary);
    }

    .menu i:hover {
        font-size: 3.5rem;
        color: var(--second);
    
    }
    
    .menu ul li a:hover {
        color: var(--second);
    }


}

@media (max-width: 834px) {
    
    .container {
        padding: 0px 0px;
    }

    #projetos .container {
        padding: 0px 0px;
    }

    .banner-direita{
        display: none;
    }
    .banner-esquerda {
        text-align: center;
    }

    .sobre-mim {
        flex-direction: column;
    }

    .sobre-mim-direita {
        margin-top: 90px;
        text-align: center;
    }

    .sobre-mim-direita p {
        max-width: 1000px;
    }

    .conhecimentos-cards {
        flex-direction: column;
    }

    .projeto-card-desc {
        display: block;
    }

    .projeto-card-desc p{
        margin-top: 30px;
    }

    .banner-esquerda p{
        margin: auto;
    }

    .icone-rolagem {
        display: none;
    }

}

@media (max-width: 414px) {

    html {
        font-size: 8px;
    }

    .container {
        padding: 0px 0px;
    }

    .projeto-card-desc {
        display: block;
    }

    .projeto-card-desc p{
        margin-top: 30px;
    }

}


/*Contatos*/

#contato{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: var(--bg-primary);
    width: 500px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    margin-top: 50px;
    border-radius: 20px;
   
   
}

section h2{
    color:f5f5f5;
    font-size: 2.5rem;

    margin: 2rem;

}
section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form label{
    color: #f5f5f5;
    font-size: 17px;
    margin: 4px;
}
form input{
    padding:15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}
form input:focus{
    border-radius:16px;
}
form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;

}
form textarea:focus{
    border-radius: 16px;
}
form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background:transparent;
    border:2px solid #f5f5f5;
    color:#f5f5f5;
    transition: all 1s;
    margin-bottom: 20px;
}
form button:hover{
    background: #f5f5f5;
    color:#101026;
    border-radius: 16px;


}
@media screen and (max-width: 544px) {
    #contato{
        width: 95%;
        
    }
    form, input{
        width: 100%;
    }
    
}


    

/*Pagina do obrigado*/

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #101026;
    flex-direction: column;

}
.text{
    font-size: 45px;
    color:#f5f5f5;
    margin-bottom: 30px;

}
.paragrafo{
    color: #f5f5f5;
    margin-bottom: 30px;
    font-size: 30px;
}
.btn{
    padding: 15px 15px;
    background: #f5f5f5;
    text-decoration: none;
    color:#101026;
    transition: all 0.5s;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.5s;
}
.btn:hover{
    border-radius: 16px;
}

/*footer*/

.footer{
    
    margin-top: 100px;
   
}

.whatsapp-link{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 80px;
    right: 110px;

}

.whatsap img {
    width: 60px;
    height: 60px;
    
}

.texto{
    width: 100vw;
    padding: 0px 150px;
    height: 20vw;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
   
}
.texto h1{
    font-size: 30px;
    border-top: 1px solid  #fff;
   padding-top: 80px;
    

}
 
.texto p {
    font-size: 15px;
    padding-top: 20px;
   

}


@media screen and(max-width:568px) {
    footer{
        width: 100%;
    }
    .texto{
        width: 100%;
        margin: auto;
    }
    
    
}

